/* nav bar css */
Nav{
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}
.nav-link:hover{
    color: #3fba96 !important;
}
.active{
    color: #3fba96 !important;

}
 Button:not(.slick-arrow){
    background-color: #3fba96 !important;
    border: #3fba96 !important;
    padding:8px 18px !important;
    font-weight: 500 !important;
}
 Button:hover{
    background-color: #ffffff !important;
    color: #3fba96 !important;
    border: 1px solid #3fba96 !important;
}
/* Home */
.greentext{
    color: #3fba96;
}
.Search{
    width: 75% !important;
}
.Searchbar:focus{
    box-shadow: 0 0 0 .25rem #3fba958e !important;}

/* section3 */
.icon{
    width: 35px !important;
}
.startCard{
 border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 17px 20px 108px 8px, rgba(255, 255, 255, 0.5) 19px 20px 20px 0px;
}
.nonborder .card{
    border: 0 !important;
}
.slick-next:before , .slick-prev:before {
   color: #3fba96 !important;
    
}